    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>THE BAREFOOT
            <br/>SHOE SHOWDOWN</h2>
          </header>
          <p>We compare two of the top barefoot/minimalist
            <br/>shoes in the ultimate showdown to help
            <br/>decide which is right for you!</p>
          <footer>
            <ul class="buttons vertical">
              <li><a href="{{ SITEURL }}/pages/about-vibram-five-finger-shoes.html" class="button fit scrolly">About Vibram Five Fingers Shoes</a></li>
              <li><a href="{{ SITEURL }}/pages/about-xero-shoes.html" class="button fit scrolly">About Xero Shoes</a></li>
              <li><a href="{{ SITEURL }}/pages/vibram-five-fingers-vs-xero-shoes.html" class="button fit scrolly">Vibrams vs Xeros</a></li>
            </ul>
          </footer>

        </div>

      </section>